.addTask {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(0px - 1.6875rem);
}

.addTask input {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  outline: none;
  color: var(--gray-100);
}

.addTask input:focus {
  outline: 1px solid var(--purple-dark);
}

.addTask button[type="submit"] {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.1s;
}

.addTask button[type="submit"]:focus {
  outline: 1px solid var(--blue);
}

.addTask button[type="submit"]:not(:disabled):hover {
  background-color: var(--blue);
}

.addTask button[type="submit"]:disabled {
  opacity: 70%;
  cursor: not-allowed;
}