.tasksStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tasksStats div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: bold;
}

.tasksStats div:first-child p {
  color: var(--blue);
}

.tasksStats div:last-child p {
  color: var(--purple);
}

.counter {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter span {
  font-size: 0.75rem;
}