main {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}