header {
  height: 12.5rem;
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

header .title {
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: 900;
}

header .title span {
  color: var(--purple-dark);
}

main {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.addTask {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(0px - 1.6875rem);
}

.addTask input {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  outline: none;
  color: var(--gray-100);
}

.addTask input:focus {
  outline: 1px solid var(--purple-dark);
}

.addTask button[type="submit"] {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.1s;
}

.addTask button[type="submit"]:focus {
  outline: 1px solid var(--blue);
}

.addTask button[type="submit"]:hover {
  background-color: var(--blue);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tasksStats div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: bold;
}

.tasksStats div:first-child p {
  color: var(--blue);
}

.tasksStats div:last-child p {
  color: var(--purple);
}

.counter {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter span {
  font-size: 0.75rem;
}

.emptyState {
  border-top: 1px solid var(--gray-400);
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emptyMessages {
  color: var(--gray-300);
  text-align: center;
}

.emptyMessages p:first-child {
  font-weight: 700;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.task {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 0.75rem;
}

.checkboxContainer {
  padding: 3px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  border: 2px solid var(--blue-dark);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
}

input[type="checkbox"]:not(:checked):hover {
  border-color: var(--blue);
}

input[type="checkbox"]:not(:checked):focus {
  outline: 2px solid var(--blue-dark);
}

input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  border-color: var(--purple);
}

input[type="checkbox"]:checked::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;
}

input[type="checkbox"]:checked:focus {
  outline: 1px solid var(--purple-dark);
}
  

.taskContent {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: var(--gray-300);
}

.deleteTask {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--gray-300);
  transition: color 0.1s;
  border-radius: 0.25rem;
}

.deleteTask:hover { 
  background-color: var(--gray-400);
  color: var(--danger);
}

.deleteTask:focus {
  outline: 2px solid var(--gray-400);
}